.page{
  height: 100vh;
  width:100%;
  display:flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--color-bg);
  flex-direction: column;
  gap:30px;
  padding-left:15%;
  padding-right:15%;
  box-sizing: border-box;
}

#readme{
  height: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.h-parent{
  width: 100%;
  display:flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
a{
  text-decoration: none;
}

.button-parent{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  gap:10px;
}

h1{
  margin:0;
  font-family: 'M PLUS 1';
  font-weight: 600;
  font-size: 7em;
  line-height: 100%;
  color: var(--color-darkolivegreen-200);
}

h2{
  margin: 0;
  font-family: 'M PLUS 1';
  font-style: normal;
  font-weight: 600;
  font-size: 2em;
  line-height: 100%;
  color: var(--color-darkolivegreen-200);
}

h3{
  margin: 0;
  font-family: 'M PLUS 1';
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 100%;
  color: var(--color-darkolivegreen-100);
}

.button{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  border-radius: 20px;
  background: var(--color-darkolivegreen-100);
  border: none;
  outline: none;
  transition: all 300ms ease-in-out;
}

.button:hover{
  opacity: 0.7;
}

.bttn-txt{
  font-family: 'M PLUS 1 Code';
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
}