<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    {% load static %}  
    <link rel="stylesheet" href="{% static '/global.css' %}" />
    <link rel="stylesheet" href="{% static '/index.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=M PLUS 1:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=M PLUS 1 Code:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="page">
      <div class="h-parent">
        <h1 >demo API</h1>
        <h3 >for littlelemon resturant</h3>
      </div>
      <div class="button-parent">
        <a href="./readme">
          <button class="button">
            <span class="bttn-txt">Documentation</span>
          </button>
        </a>
        <a href="./api">
          <button class="button">
            <span class="bttn-txt">/api</span>
          </button>
        </a>
      </div>
    </div>
  </body>
</html>
